Repository jykuo-love-shiritori/twp, pull requests merged in 2024-01, with the labels that each got.

#110 [frontend] Home, Shop, Report api
  frontend/src/components/GoodsItem.tsx
  frontend/src/components/News.tsx
  frontend/src/components/SellerGoodsItem.tsx
  frontend/src/components/SellerItem.tsx
  frontend/src/pages/discover/index.tsx
  frontend/src/pages/home/index.tsx
  frontend/src/pages/news/[newsID].tsx
  frontend/src/pages/user/admin/adminReportData.json
  frontend/src/pages/user/admin/allReports/[adminReportID].tsx
  frontend/src/pages/user/seller/allProducts/index.tsx
  frontend/src/pages/user/seller/allReports/[sellerReportID].tsx
  frontend/src/pages/user/seller/sellerReportData.json
  frontend/src/pages/user/seller/sellersInfo.json
  frontend/src/pages/user/shop/Shop.tsx
  pkg/router/general/common.go
  pkg/router/seller/product.go
Labels: frontend

#118 [backend] check if user is enabled when login
  db/queries/user.sql
  db/user.sql.go
Labels: backend

#113 [backend] Auth | Init data | create admin account
  .example.env
  db/admin.sql.go
  db/queries/admin.sql
  db/queries/test.sql
  db/test.sql.go
  go.mod
  go.sum
  main.go
  minio/minio_operation.go
  pkg/auth/signup.go
  pkg/auth/verify_test.go
  pkg/boot/admin.go
  pkg/common/common.go
  pkg/router/buyer/cart.go
  pkg/router/buyer/checkout.go
  pkg/router/buyer/coupon.go
  pkg/router/buyer/order.go
  pkg/router/buyer/product.go
  pkg/router/router.go
  pkg/router/seller/coupon.go
  pkg/router/seller/order.go
  pkg/router/seller/product.go
  pkg/router/seller/shop.go
  pkg/router/seller/tag.go
  pkg/router/user/user.go
  script/main.go
  test/db/main.go
  test/minio/main.go
Labels: backend

#130 Fix coupon start date can't be today
  docs/docs.go
  docs/swagger.json
  docs/swagger.yaml
  pkg/router/admin/coupon.go
  pkg/router/general/search.go
  pkg/router/seller/coupon.go
Labels: bug, backend

#108 [frontend] Coupon api
  frontend/src/App.tsx
  frontend/src/components/CouponItem.tsx
  frontend/src/components/CouponItemEdit.tsx
  frontend/src/components/CouponItemShow.tsx
  frontend/src/components/CouponItemTemplate.tsx
  frontend/src/components/NavBar.tsx
  frontend/src/lib/Functions.ts
  frontend/src/lib/Status.tsx
  frontend/src/pages/coupon/AllCouponData.json
  frontend/src/pages/coupon/couponData.json
  frontend/src/pages/coupon/index.tsx
  frontend/src/pages/user/admin/allCoupons/[adminCouponID].tsx
  frontend/src/pages/user/admin/allCoupons/index.tsx
  frontend/src/pages/user/admin/allCoupons/newCoupon.tsx
  frontend/src/pages/user/admin/index.tsx
  frontend/src/pages/user/buyer/info/index.tsx
  frontend/src/pages/user/buyer/security/CreditCard.tsx
  frontend/src/pages/user/buyer/security/NewCard.tsx
  frontend/src/pages/user/buyer/security/Password.tsx
  frontend/src/pages/user/seller/allCoupons/[sellerCouponID].tsx
  frontend/src/pages/user/seller/allCoupons/index.tsx
  frontend/src/pages/user/seller/allCoupons/newCoupon.tsx
  frontend/src/pages/user/seller/info/index.tsx
  frontend/src/pages/user/shop/SellerCoupons.tsx
  frontend/src/pages/user/signup.tsx
Labels: frontend

#125 [frontend] sellers can add / modify / view their products
  frontend/src/components/GoodsItem.tsx
  frontend/src/components/SellerGoodsItem.tsx
  frontend/src/lib/Status.tsx
  frontend/src/pages/discover/[goodsID].tsx
  frontend/src/pages/user/admin/allReports/[adminReportID].tsx
  frontend/src/pages/user/seller/allProducts/NewGoods.tsx
  frontend/src/pages/user/seller/allProducts/[sellerGoodsID].tsx
  frontend/src/pages/user/seller/allProducts/index.tsx
  frontend/src/pages/user/seller/allReports/[sellerReportID].tsx
  frontend/src/pages/user/shop/Shop.tsx
Labels: frontend

#114 [frontend] ManageUser api
  frontend/src/components/Pagination.tsx
  frontend/src/components/UserTableHeader.tsx
  frontend/src/components/UserTableRow.tsx
  frontend/src/lib/Status.tsx
  frontend/src/pages/user/admin/manageUsers/index.tsx
Labels: frontend

#133 fix typo and dont insert refresh token
  db/queries/test.sql
  db/test.sql.go
  pkg/boot/admin.go
  script/main.go
Labels: bug, backend

#138 [backend] Fix #137
  db/general.sql.go
  db/queries/general.sql
  docs/docs.go
  docs/swagger.json
  docs/swagger.yaml
  pkg/router/general/common.go
Labels: bug, backend

#140 [backend] Fix #139 and #142
  db/general.sql.go
  db/queries/general.sql
  docs/docs.go
  docs/swagger.json
  docs/swagger.yaml
  pkg/router/general/common.go
  pkg/router/general/shop.go
  pkg/router/router.go
  pkg/router/seller/shop.go
Labels: bug, backend

#143 [frontend] order status controlled by buyer & seller
  frontend/src/components/RecordStatus.tsx
  frontend/src/pages/user/buyer/history/[historyID].tsx
  frontend/src/pages/user/seller/allShipments/[historyID].tsx
Labels: frontend

#145 [frontend] buyer, seller, admin, shop image & name
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/UserTableRow.tsx
  frontend/src/components/style.css
  frontend/src/lib/Auth.ts
  frontend/src/pages/user/admin/index.tsx
  frontend/src/pages/user/buyer/index.tsx
  frontend/src/pages/user/buyer/info/index.tsx
  frontend/src/pages/user/seller/index.tsx
  frontend/src/pages/user/seller/info/index.tsx
Labels: frontend

#144 [frontend] navbar distinguish roles
  frontend/src/components/BuyerButtons.tsx
  frontend/src/components/NavBar.tsx
  frontend/src/lib/Auth.ts
Labels: frontend

#156 [frontend] control enabled, more items, get username
  frontend/src/components/FormItem.tsx
  frontend/src/pages/discover/index.tsx
  frontend/src/pages/user/buyer/history/index.tsx
  frontend/src/pages/user/seller/allProducts/NewGoods.tsx
  frontend/src/pages/user/seller/allProducts/[sellerGoodsID].tsx
  frontend/src/pages/user/seller/allProducts/index.tsx
  frontend/src/pages/user/seller/allShipments/index.tsx
  frontend/src/pages/user/shop/Shop.tsx
Labels: frontend

#148 Password validation fix
  frontend/src/pages/user/buyer/security/Password.tsx
  frontend/src/pages/user/signup.tsx
Labels: frontend

#154 Implement #153, Fix #124, #152
  db/migrations/000004_alter_coupon_value_range.down.sql
  db/migrations/000004_alter_coupon_value_range.up.sql
  db/queries/test.sql
  db/queries/user.sql
  db/user.sql.go
  docs/docs.go
  docs/swagger.json
  docs/swagger.yaml
  pkg/router/buyer/checkout.go
  pkg/router/buyer/coupon.go
  pkg/router/seller/product.go
Labels: bug, enhancement, backend

#135 [frontend] Cart api
  frontend/src/components/Cart.tsx
  frontend/src/components/CartProduct.tsx
  frontend/src/components/CheckoutItemCoupon.tsx
  frontend/src/lib/Functions.ts
  frontend/src/pages/discover/[goodsID].tsx
  frontend/src/pages/user/buyer/cart/boughtData.json
  frontend/src/pages/user/buyer/cart/index.tsx
  frontend/src/pages/user/buyer/security/CreditCard.tsx
  frontend/src/pages/user/buyer/security/NewCard.tsx
Labels: frontend

#159 remove token from frontend
  frontend/src/components/NavBar.tsx
Labels: bug, frontend

#155 [frontend] Page component
  frontend/src/components/Pagination.tsx
  frontend/src/components/UserTableRow.tsx
  frontend/src/pages/discover/index.tsx
  frontend/src/pages/search/index.tsx
  frontend/src/pages/user/admin/allCoupons/index.tsx
  frontend/src/pages/user/admin/manageUsers/index.tsx
  frontend/src/pages/user/buyer/history/index.tsx
  frontend/src/pages/user/buyer/index.tsx
  frontend/src/pages/user/seller/allCoupons/index.tsx
  frontend/src/pages/user/seller/allProducts/index.tsx
  frontend/src/pages/user/seller/allShipments/index.tsx
  frontend/src/pages/user/shop/SellerCoupons.tsx
  frontend/src/pages/user/shop/Shop.tsx
  frontend/src/pages/user/shop/ShopSearch.tsx
Labels: enhancement, frontend

#166 Default Image Path to Parrot if empty
  frontend/public/placeholder/parrot.gif
  pkg/image/url.go
Labels: enhancement, backend

#169 [frontend] Improve
  frontend/public/placeholder/goods1.png
  frontend/public/placeholder/goods10.png
  frontend/public/placeholder/goods2.png
  frontend/public/placeholder/goods3.png
  frontend/public/placeholder/goods4.png
  frontend/public/placeholder/goods5.png
  frontend/public/placeholder/goods6.png
  frontend/public/placeholder/goods7.png
  frontend/public/placeholder/goods8.png
  frontend/public/placeholder/goods9.png
  frontend/public/placeholder/head.png
  frontend/public/placeholder/person.png
  frontend/public/resources/Carts.json
  frontend/public/resources/Checkout.json
  frontend/public/resources/UsableCoupons.json
  frontend/src/lib/Status.tsx
  frontend/src/pages/discover/[goodsID].tsx
  frontend/src/pages/home/newsData.json
  frontend/src/pages/user/seller/allCoupons/[sellerCouponID].tsx
  frontend/src/pages/user/seller/allCoupons/newCoupon.tsx
  frontend/src/pages/user/seller/allProducts/NewGoods.tsx
  frontend/src/pages/user/seller/allProducts/[sellerGoodsID].tsx
Labels: frontend

#172 [frontend] remake goods item
  frontend/src/components/GoodsItem.tsx
  frontend/src/components/SellerGoodsItem.tsx
  frontend/src/pages/discover/index.tsx
  frontend/src/pages/home/index.tsx
  frontend/src/pages/search/index.tsx
  frontend/src/pages/user/seller/allProducts/index.tsx
  frontend/src/pages/user/seller/allReports/[sellerReportID].tsx
  frontend/src/pages/user/shop/Shop.tsx
  frontend/src/style/global.css
Labels: enhancement, frontend
